@{
    ViewBag.Title = "Fornadas";
}

<div class="jumbotron">
    <h1>Padoca Online</h1>
    <h2><span id="titulo"></span></h2>
    <div id="contador"></div>
    <h3><span id="descricao"></span></h3>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/countdown")
    <script>
        $(document)
            .ready(function() {
                $.getJSON("/api/fornadas")
                    .done(function(data) {
                        var d = new Date(data.DataHora);

                        if (data.Futura) {
                            $('#titulo').text("Tem pão quentinho saindo em: ");

                            $('#contador')
                                .countdown({
                                    until: new Date(d.getUTCFullYear(),
                                        d.getUTCMonth(),
                                        d.getUTCDate(),
                                        d.getUTCHours(),
                                        d.getUTCMinutes(),
                                        d.getUTCSeconds()),
                                    format: 'HMS'
                                });
                        } else {
                            $('#titulo').text("A última fornada saiu " + ("0" + d.getUTCHours()).slice(-2) + ":" + ("0" + d.getUTCMinutes()).slice(-2));
                        }

                        $('#descricao').text(data.Descricao);
                    });
            });
    </script>
}