
@{
    ViewBag.Title = "Removido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>A fornada foi removida com sucesso!</h2>

<p>
    @Html.ActionLink("Ok", "Index", "Fornadas", null, new { @class = "btn btn-primary" })
</p>